[MESSAGES CONTROL]
disable = missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        attribute-defined-outside-init,
        line-too-long,
        invalid-str-returned,
        no-member,
        unused-wildcard-import,
        wildcard-import,
        trailing-whitespace,
        invalid-name,
        W0621:redefined-outer-name,