{% extends "base.html" %}
{% load static %}
{% block title %}<title>Цунами || Авторизация</title>{% endblock title %}
{% block icon %}<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico'  %} ">{% endblock icon %}
{% block content %}
	
	<section class="contact-img-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="con-text">
						<h2 class="page-title">Авторизация</h2>
						<p><a href="#">Главная</a> | Авторизация</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- pages-title-end -->
	<!-- login content section start -->
	<div class="login-area">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-xs-12">
					<div class="tb-login-form ">
						<h5 class="tb-title">Авторизоваться</h5>
						<p>Здравствуйте, добро пожаловать в ваш аккаунт</p>
						
						<form action="{% url 'user:login' %}" method="post">
							{% csrf_token %}
							{% if form.non_field_errors %}
								<p>{{form.non_field_errors}}</p>
							{% endif %}

							<p class="checkout-coupon top log a-an">
								<label class="l-contact" for="username">
									Имя пользователя
									<em>*</em>
								</label>
								<input class="login_input" type="user_name" name="username" value="{% if  form.username.value%}{{form.username.value}}{% endif %}">
							</p>

							<p class="checkout-coupon top-down log a-an">
								<label class="l-contact" for="password">
									Пароль
									<em>*</em>
								</label>
								<input type="password" name="password">
							</p>

							<div class="forgot-password1">
								<label class="inline2">
									<input type="checkbox" name="rememberme7">
									Запомнить меня! <em>*</em>
								</label>
								<a class="forgot-password" href="#">Забыли пароль?</a>
							</div> 

							<p class="login-submit5">
								<input class="button-primary" type="submit" value="Авторизоваться">
							</p>
							
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- login  content section end -->
	<!-- quick view start -->
	
	<!-- quick view end -->
	<!-- brand section start -->
	

{% endblock content %}

