
{% extends "base.html" %}
{% load static %}
{% block title %}<title>Цунами || Мой кабинет</title>{% endblock title %}
{% block icon %}<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico'  %} ">{% endblock icon %}
{% block content %}
 
<section class="contact-img-area">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="con-text">
					<h2 class="page-title">Мой профиль</h2>
					<p><a href="#">Главная</a> | Мой профиль</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- pages-title-end -->
<!-- my account content section start -->
<section class="collapse_area coll2">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="check">
					<h2>Мой профиль </h2>
				</div>
				<div class="faq-accordion">
					<div class="panel-group pas7" id="accordion" role="tablist" aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a class="collapsed method" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Измените данные своей учетной записи <i class="fa fa-caret-down"></i></a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" >
								<div class="row">
									<div class="easy2">
										<h2>Информация о моем аккаунте</h2>
										<form class="form-horizontal" action="{% url "user:profile" %}" method="post" enctype="multipart/form-data">
											{% csrf_token %}
											<fieldset>
												<legend>Ваши персональные данные</legend>
												{% if user.image %}
													<label for="id_image" class="col-sm-2 control-label"> </label>
													<div class="form-group required">
														<img src="{{user.image.url}}" alt="" style="width: 15%;">
													</div>
												{% else %}
												
													<div class="form-group required">
														<img src="{% static 'img/products/1.jpg' %}" alt="" style="width: 15%;">
													</div>
												{% endif %}
												<label for="id_image" class="col-sm-2 control-label"></label>
												<input type="file" id="id_image" name="image" accept="image/*" 
												{% if form.image.errors %}
													{{form.image.errors}}
												{% endif %}>

												<div class="form-group required">
													<label for="id_first_name" class="col-sm-2 control-label">Имя </label>
													<div class="col-sm-10">
														<input value="{{form.first_name.value}}" name="first_name" id="id_first_name" 
														class="form-control" type="text" placeholder="First Name" required>
													</div>
													{% if form.frist_name.errors %}
														<p>{{form.frist_name.errors}}</p>
													{% endif %}
												</div>

												<div class="form-group required">
													<label for="id_last_name" class="col-sm-2 control-label">Фамилия</label>
													<div class="col-sm-10">
														<input value="{{form.last_name.value}}" name="last_name" id="id_last_name"
														class="form-control" type="text" placeholder="Last Name">
													</div>
													{% if form.last_name.errors %}
														<p>{{form.last_name.errors}}</p>
													{% endif %}
												</div>

												<div class="form-group required">
													<label for="id_username" class="col-sm-2 control-label">Имя пользователя</label>
													<div class="col-sm-10">
														<input value="{{form.username.value}}" name="username" id="id_username"
														class="form-control" type="text" placeholder="E-Mail">
													</div>
													{% if form.username.errors %}
														<p>{{form.username.errors}}</p>
													{% endif %}
												</div>

												<div class="form-group required">
													<label for="id_email" class="col-sm-2 control-label">Почта</label>
													<div class="col-sm-10">
														<input value="{{form.email.value}}" name="email" id="id_email"
														class="form-control" type="email" placeholder="E-Mail">
													</div>
													{% if form.email.errors %}
														<p>{{form.email.errors}}</p>
													{% endif %}
												</div>

												{% comment %} <div class="form-group required">
													<label class="col-sm-2 control-label">Telephone</label>
													<div class="col-sm-10">
														<input class="form-control" type="tel" placeholder="Telephone">
													</div>
												</div> {% endcomment %}

											</fieldset>
											<div class="buttons clearfix">
												
												<div class="pull-right">
													<input class="btn btn-primary ce5" type="submit" value="Сохранить">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Change your password   <i class="fa fa-caret-down"></i></a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
								<div class="row">
									<div class="easy2">
										<h2>Change Password</h2>
										<form class="form-horizontal" action="#">
											<fieldset>
												<legend>Your Password</legend>
												<div class="form-group required">
													<label class="col-sm-2 control-label">Password</label>
													<div class="col-sm-10">
														<input class="form-control" type="password" placeholder="password">
													</div>
												</div>
												<div class="form-group required">
													<label class="col-sm-2 control-label">Password Confirm</label>
													<div class="col-sm-10">
														<input class="form-control" type="password" placeholder="password confirm">
													</div>
												</div>
											</fieldset>
											<div class="buttons clearfix">
												<div class="pull-left">
													<a class="btn btn-default ce5" href="#">Back</a>
												</div>
												<div class="pull-right">
													<input class="btn btn-primary ce5" type="submit" value="Continue">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">Modify your address book entries   <i class="fa fa-caret-down"></i></a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
								<div class="easy2">
									<h2>Address Book Entries</h2>
									<table class="table table-bordered table-hover">
										<tr>
											<td class="text-left">
												Farhana hayder (shuvo)
												<br>
												hastech
												<br>
												Road#1 , Block#c
												<br>
												Rampura.
												<br>
												Dhaka
												<br>
												Bangladesh
											</td>
											<td class="text-right">
												<a class="btn btn-info g6" href="#">Edit</a>
												<a class="btn btn-danger g6" href="#">Delete</a>
											</td>
										</tr>
									</table>
									<div class="buttons clearfix">
										<div class="pull-left">
											<a class="btn btn-default ce5" href="#">Back</a>
										</div>
										<div class="pull-right">
											<input class="btn btn-primary ce5" type="submit" value="Continue">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% comment %} <a class="collap" href="wishlist.html">Modify your wish list   <i class="fa fa-caret-down"></i></a> {% endcomment %}
				</div>
			</div>
		</div>
	</div>
</section>
			
{% endblock content %}