{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% load cart_tags %}
{% user_carts request as carts %}

{% block title %}<title>Цунами || Магазин</title>{% endblock title %}
{% block icon %}<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico'  %} ">{% endblock icon %}
{% block content %}
<section class="contact-img-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="con-text">
                    <h2 class="page-title">Заказы</h2>
                    <p><a href="{% url 'main:index' %} ">Главная</a> | Заказы</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pages-title-end -->
<!-- checkout content section start -->
<div class="checkout-area">
    <div class="container">
        
        <div class="row">
            <div class="col-md-12">
                <div class="coupon-accordion res">
                  
                    <div id="checkout_coupon" class="coupon-checkout-content tnm">
                        <div class="coupon-info">
                            <form action="#">
                                <p class="checkout-coupon res">
                                    <input type="text" placeholder="Coupon code" />
                                    <input type="submit" value="Apply Coupon" />
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-sm-12">
                <div class="text">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active ano complete">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab"></a>
                            <span>Address</span>
                        </li>
                        <li role="presentation" class="ano ">
                            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"></a>
                            <span>Payment</span>
                        </li>
                        <li role="presentation" class="ano la">
                            <a href="#message" aria-controls="message" role="tab" data-toggle="tab"></a>
                            <span>Complete</span>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="row">
                                <form action="{% url "orders:create_order" %}" method="post" id="create_order_form">
                                    {% csrf_token %}
                                    <div class="checkbox-form">
                                        <div class="col-md-12">
                                            <h3 class="checkbox9">SHIPPING ADDRESS DETAILS</h3>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                First Name 
                                                <em>*</em>
                                                </label>
                                                <input type="text" class="form-control" id="id_first_name" value="{% if form.first_name.value %}{{ form.first_name.value }}{% endif %}" name="first_name" required>
                                                {% if form.first_name.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                Last Name 
                                                <em>*</em>
                                                </label>
                                                <input type="text" class="form-control" id="id_last_name" name="last_name" value="{% if form.last_name.value %}{{ form.last_name.value }}{% endif %}" required>
                                                {% if form.last_name.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="di-na bs">
                                                <label class="l-contact">
                                                Phone 
                                                <em>*</em>
                                                </label>
                                                <input type="text" class="form-control" id="id_phone_number" name="phone_number" value="{% if form.phone_number.value %}{{ form.phone_number.value }}{% endif %}" placeholder="(000) 000-0000" required>
                                                {% if form.phone_number.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
                                                {% endif %}
                                                <div class="alert alert-danger alert-dismissible fade show" style="display: none" id="phone_number_error">Неверный формат номера</div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <label for="delivery" class="form-label">Способ доставки: </label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="requires_delivery"
                                                    id="id_requires_delivery" value="1" checked>
                                                <label class="form-check-label" for="id_requires_delivery">Нужна
                                                    доставка</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="requires_delivery"
                                                    id="id_requires_delivery" value="0">
                                                <label class="form-check-label" for="id_requires_delivery">Самовывоз</label>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label class="l-contact">
                                                Адрес доставки  
                                                <em>*</em>
                                            </label>
                                            <textarea class="form-control" id="id_delivery_address"
                                                value="{% if form.delivery_address.value %}{{ form.delivery_address.value }}{% endif %}"
                                                name="delivery_address" rows="2"></textarea>
                                            {% if form.delivery_address.errors %}
                                                <div class="alert alert-danger alert-dismissible fade show">{{form.delivery_address.errors}}</div>
                                            {% endif %}
                                        </div>
                                      
                                        <div class="col-md-12 mb-3">
                                            <label class="form-label">Способ оплаты: </label>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="payment_on_get"
                                                    id="id_payment_on_get" value="0" checked>
                                                <label class="form-check-label" for="id_payment_on_get">Оплата
                                                    картой</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="payment_on_get"
                                                    id="id_payment_on_get" value="1">
                                                <label class="form-check-label" for="id_payment_on_get">Наличными/картой
                                                    при плучении</label>
                                                {% if form.payment_on_get.errors %}
                                                    <div class="alert alert-danger alert-dismissible fade show">{{form.payment_on_get.errors}}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="submit" class="btn btn-dark">Оформить заказ</button>
                                        </div>
                                            
                                    </div>
                                </form>
                            </div>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="top-check-text">
                                        <div class="check-down">
                                            <h3 class="checkbox9">INFORMATION</h3>
                                            <span><a class="ro-edit-customer-info" href="#">Edit</a></span>
                                        </div>
                                        <div class="ro-content2">
                                            <div class="ro-info2">
                                                <p>
                                                    <span>Email Address: </span>
                                                    tasnimakter903@yahoo.com
                                                </p>
                                            </div>
                                            <div class="ro-info2">
                                                <p>
                                                    <span>Country: </span>
                                                    BD
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <form action="#" class="all-payment">
                                        <div class="all-paymet-border">
                                            <div class="payment-method">
                                                <div class="pay-top sin-payment">
                                                    <input id="payment_method_1" class="input-radio" type="radio" value="cheque" checked="checked" name="payment_method">
                                                    <label for="payment_method_1"> Direct Bank Transfer </label>
                                                    <div class="payment_box payment_method_bacs">
<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                                <div class="pay-top sin-payment">
                                                    <input id="payment_method_2" class="input-radio" type="radio" value="cheque" name="payment_method">
                                                    <label for="payment_method_2"> Cheque Payment  </label>
                                                    <div class="payment_box payment_method_bacs">
<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                    </div>
                                                </div>
                                                <div class="pay-top sin-payment">
                                                    <input id="payment_method_3" class="input-radio" type="radio" value="cheque" name="payment_method">
                                                    <label for="payment_method_3">PayPal <img alt="" src="img/icon-img/44.png"><a href="#">What is PayPal?</a></label>
                                                    <div class="payment_box payment_method_bacs">
<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row place-order">
                                                <input class="button alt" type="submit" value="Place order" >
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="message">
                            <div class="last-check">
                                <h3 class="checkbox9">complete</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="ro-checkout-summary">
                    <div class="ro-title">
                        <h3 class="checkbox9">Заказы</h3>
                    </div>
                    {% include "carts/includes/order_carts.html" %}
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
